# MacOS
.DS_Store

# Install and build
dist
*.log
node_modules
.env
.not-first-launch

# Cypress
cypress/screenshots
cypress/videos

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
